[Unit]
Description=Sokeriseuranta Wixel Uploader server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/sswixelbridge.pid
ExecStart=/usr/sbin/sswixelbridge -d -c /etc/sswixelbridge/sswixelbridge.conf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
